<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<display-name>Archetype Created Web Application</display-name>
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext
		</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>kr.or.connect.reservation.config.ApplicationConfig
		</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener><!--레이어드 아키텍처의 특성상 프리젠테이션부분과 나머지를 분리
	비지니스 로직쪽에서 사용되는것은 DBConfig와 applicationConfig에 나누어 둠
	context가 로딩되는 이벤트가 일어났을때 이 클래스를 실행시켜줘요  
	ContextLoaderListener가 실행될때 ApplicationConfig참고-->

	<servlet>
		<servlet-name>mvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> 
		<!--모든요청을 dispatcherServlet이 받을거예요  
		dispatcherServlet을 frontServlet으로 설정하는 과정-->
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext
			</param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>kr.or.connect.reservation.config.WebMvcContextConfiguration
			</param-value><!--dispathcerServlet을 실행할때  WebMvcContextConfiguration를 참고하세요 -->
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>mvc</servlet-name>
		<url-pattern>/</url-pattern> <!--모든 요청을 다 받을 거예요  -->
	</servlet-mapping>

	<filter><!--응답이 수행되기전 한번 거치는 과정  -->
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern><!--필터가 적용되는 부분  -->
	</filter-mapping>
</web-app>
